<div class="row">
  <div class="small-8 large-centered column">
    <h1>Learnit</h1>
    <h3>
      <% if @course != nil %>
        <%= link_to image_tag("learning_ninja.png"), course_path(@course[0].id) %>
      <% else %>
        <%= link_to image_tag("learning_ninja.png"), new_course_path %>
      <% end %>
    </h3>
  </div>
</div>
<div class="row">
  <div class="large-6 small-12 columns">
    <ul class="inline-list center">
      <li class="header_links"></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="small-6 large-centered column">
    <div class="panel">
      <h3>About</h3>
      <h5>Click the ninja to learn something</h5>
      <p>You will be sent to a random user submitted course</p>
      <p>It may have one lesson or twenty</p>
      <p>It may be about baking or bald eagles</p>
      <p>Learn something new
      <p>Add a course to teach someone else.</p>
      <p><%= link_to "Add a new course", new_course_path %></p>
    </div>
  </div>
</div>



