/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require_tree ./modules

 */
$nexa-font: "Nexa Light", sans-serif;
$font-color: #000000;
$background-color: #CEC100;
$panel-color: #CEC100;
$panel-border: #000000;
$visited-color: #cc0000;
$hover-color: #555555;
$unvisited-color: #ff3300;
$body-bg: transparent;

@font-face {
  font-family: "Nexa Light";
  src: font-url('nexa_light.otf');
}


.larger {
  color: $font-color;
  font-size: 150%;
}


body {
  background: url("http://i.imgur.com/BEk1jf2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $font-color;
  font-family: $nexa-font;
  font-weight: bold
}

#title {
  background: $background-color;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: $font-color;
  font-family: $nexa-font;
  text-align: center;
  font-weight: bold;
}

a {
  font-family: $nexa-font;
}

a:link {
  color: $unvisited-color;

}

a:visited {
  color: $visited-color;
}

a:hover {
  color: $hover-color;
}

.panel {
  background-color: $panel-color;
  border: 1px solid $panel-border;
  border-radius: 5px;
  word-wrap: break-word;
}


.panel .panel-text {
  color: $font-color;
}

.panel #created {
  color: $font-color;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  color: $font-color;
  font-family: $nexa-font;
  background-color: $background-color;
  font-size: 1.3em;
}

.photo {
  width: 40px;
  height: 40px;
  padding-top: 5px;
}

.level {
  color: $visited-color;
}

.nope {
  text-align: center;
}

.photo {
  height: 40px;
  overflow: hidden;
  padding-top: 5px;
  width: 40px;
}

.logo {
  height: 30px;
  overflow: hidden;
}

.field label {
  color: $font-color;
}

#nameplate {
  font-size: 1.7em;
}

.logo {
  height: 30px;
  overflow: hidden;
}

.btn {
  background:none;
  border:none;
  color: $unvisited-color;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

.actions input {
  background:none;
  border:none;
  color: $unvisited-color;
  font-family: $nexa-font;
  font-size: 1em;
  font-weight: bold;
  padding: 0;
}

.panel h1, .panel h2, .panel h3, .panel h4, .panel h5,
 .panel h6, .panel p, .panel li, .panel dl {
  color: $font-color;
}

ul {
  list-style-type: none;
}

a img{
  height: 15em;
}

.main_page {
  height: 30em;
}

.top-bar {
  background-color: $background-color
}

.readable {
  font-size: 1.2em;
}

.circle a {
  display: block;
  height: 4em;
  width: 4em;
  line-height: 4em;

  -moz-border-radius: 50%;
  border-radius: 50%;

  background-color: black;
  color: white;
  text-align: center;
  font-size: 1em;
}
