<h1><%= @category.name %></h1>
<div class="row">
  <div class="small-6 large-centered column">
    <div class="panel">
      <ul>
        <% if @courses != nil %>
          <% @courses.each do |course|%>
            <li class="larger">
              <%= link_to course.name, course_path(course) %>
            </li>
            <ul>
              <li><%= course.description %></li>
            </ul>
          <% end %>
        <% else %>
          <li>
            There are no courses in this category you can <%= link_to "add a new course", new_course_path %>

          <li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
